a {
    background-color: rgb(243, 119, 119);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 2.5px;   
    transition: 0.3s ease;
    font-weight: bold;
}  

a:hover {
    background-color: rgb(200, 80, 80);
    color: white;

}

h1 {
    font-weight: lighter;
}

h2 {
    font-weight: lighter;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
}

.layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
    gap: 40px;
}

/* Devlog */
.container {
    width: 100%;
    max-width: 900px;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
}

/* Panel personaje */
.devspanel {
    width: 350px;
}  

.devspanel img {
    width: 100%;
    height: auto;
}

/* Responsive */
@media (max-width: 1100px) {
    .layout {
        flex-direction: column;
        align-items: center;
    }

    .devspanel {
        width: 100%;
        max-width: 400px;
    }
}