body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
}

.layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 40px 20px;
}

/* Devlog */
.container {
    width: 100%;
    max-width: 700px;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
}

/* Panel personaje */
.devspanel {
    width: 350px;
}  

.devspanel img {
    width: 100%;
    height: auto;
}

/* Responsive */
@media (max-width: 1100px) {
    .layout {
        flex-direction: column;
        align-items: center;
    }

    .devspanel {
        width: 100%;
        max-width: 400px;
    }
}